.link-keeper__list {
    flex: 1;
    overflow: hidden;

    @media (max-width: 767px) {
        padding: 0 15px;
    }

    &-empty {
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        font-size: 24px;
        color: rgba(0, 0, 0, 0.2);
    }

    &-outside {
        height: 100%;
        overflow: auto;

        @media (max-height: 1024px), (max-width: 767px) {
            width: 100%;
        }
    }

    &-inside {
        width: 100%;
        margin: 0 0px;
        padding-bottom: 30px;
    }
}
